body {
    margin: 0;
    overflow: hidden;
    direction: rtl;
    cursor: pointer;


    background-image: url('https://www.jowhareh.com/images/Jowhareh/galleries/poster_61a9e444-9cb9-47ba-9747-f6a36051359d.jpeg');
    background-size: cover;
    background-position: center;
}

.columns-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* ستون‌ها */
.food-col {
    flex: 1;
    height: 100%;
    position: relative;
    top: -120vh; /* برای انیمیشن افتادن */
    transition: top 0.8s ease;

    /* ✅ رنگ نیمه‌شفاف */
    background-color: rgba(0,0,0,0.4);
}

/* رنگ‌های مختلف ستون‌ها */
.col-1 { background-color: rgba(255, 0, 0, 0.45); }
.col-2 { background-color: rgba(255, 255, 0, 0.45); }
.col-3 { background-color: rgba(128, 128, 128, 0.45); }
.col-4 { background-color: rgba(255, 140, 0, 0.45); }

/* متن */
.text-box {
    position: absolute;
    bottom: 40px;
    right: 20px;
    color: white;
    text-align: right;
}

.text-box h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.text-box p {
    margin: 0;
    font-size: 18px;
}
